<script defer src="/js/user.js"></script>
<script defer src="/js/game.js"></script>
<link rel="stylesheet" href="/tabs.css">
<a href="/user_create">Create User</a>
<a href="/user_login">Login...</a>
<div class=tabs>
    <div class="tab">
        <label>
            <div>Login</div>
            <!-- TODO: hide when logged in -->
            <input type="radio" checked>
        </label>
        <form onsubmit="user.login(event)">
            <fieldset>
                <legend>Enter credentials</legend>
                {{ template "username.html" . }}
                {{ template "password.html" . }}
                <input type="submit" value="Login">
            </fieldset>
        </form>
    </div>
    <div class="tab">
        <label>
            <div>Lobby</div>
            <!-- TODO: only show if logged in and websocket is empty-->
            <input type="radio">
        </label>
        <p>TODO: Lobby content</p>
        <button type="button" id="game-split" onclick="game.create()">Create Game</button>
    </div>
    <div class="tab">
        <label>
            <div>Game</div>
            <!-- TODO: only show if logged in and websocket is not empty-->
            <input type="radio">
        </label>
        <p>TODO: Game tab content</p>
        <button type="button" id="game-split" onclick="game.split()">Split</button>
        <button type="button" id="game-split" onclick="game.peel()" disabled>Split</button>
        <button type="button" id="game-split" onclick="game.dump()" disabled>Split</button>
        <button type="button" id="game-split" onclick="game.bananas()" disabled>Bananas</button>
    </div>
    <div class="tab">
        <label>
            <div>Change Password</div>
            <!-- TODO: only show if logged in -->
            <input type="radio">
        </label>
        <form onsubmit="user.update_password(event)">
            <fieldset>
                <legend>Enter credentials</legend>
                {{ template "username.html" . }}
                {{ template "password.html" . }}
                <fieldset>
                    <legend>New Password:</legend>
                    {{ template "password_confirm.html" . }}
                </fieldset>
                <input type="submit" value="Change">
            </fieldset>
        </form>
    </div>
    <div class="tab">
        <label>
            <div>Delete User</div>
            <!-- TODO: only show if logged in -->
            <input type="radio">
        </label>
        <form onsubmit="user.update_password(event)">
            <fieldset>
                <legend>Enter credentials</legend>
                {{ template "username.html" . }}
                <!-- TODO: autofill user input, make disabled-->
                {{ template "password.html" . }}
                <input type="submit" value="Change">
            </fieldset>
        </form>
    </div>
    <div class="tab">
        <label>
            <div>Log out</div>
            <!-- TODO: only show if logged in -->
            <input type="radio">
        </label>
        <button type="button" id="game-split" onclick="game.logout()">Log out</button>
        <!-- TODO: make link in label, have no content -->
    </div>
</div>