# binaries created by make
static/wasm_exec.js
static/main.wasm
main

# environment variables
.env

# docker database
.pgdata

# Visual Studio Code files
.vscode
go/cmd/server/__debug_bin

# SonarQube static analysis
.scannerwork
# go test ./... -coverprofile=.coverage.out
.coverage.out
