<!doctype html>
<html lang="en">
    <head>
        <title>{{.Name}}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg?v={{.Version}}">
        <link rel="apple-touch-icon" href="/favicon.svg?v={{.Version}}">
        <link rel="manifest" href="manifest.json?v={{.Version}}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="{{.Description}}">
        <meta property="og:title" content="{{.Name}}">
        <meta property="og:description" content="{{.Description}}">
        <meta name="theme-color" content="{{.Colors.TabBackground}}">
        <style>
            {{ template "main.css" . }}
        </style>
        <script defer src="wasm_exec.js?v={{.Version}}"></script>
        <script>
            {{ template "init.js" . }}
        </script>
    </head>
    <body>
        {{ template "noscript.html" . }}
        <header>
            <h1>
                <img src="/favicon.svg?v={{.Version}}" alt="tile" width="32" height="32">
                <a href="/">{{.Name}}</a>
            </h1>
        </header>
        <main>
            {{ template "log.html" . }}
            {{ template "tabs.html" . }}
        </main>
    </body>
</html>