<!doctype html>
<html lang="en">
    <head>
        <title>{{.ApplicationName}}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/favicon-192.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="{{.Description}}">
        <meta property="og:title" content="{{.ApplicationName}}">
        <meta property="og:description" content="{{.Description}}">
        <style type="text/css">
            {{template "main.css"}}
        </style>
        <script defer src="wasm_exec.js?v={{.Version}}"></script>
        <script>
            {{ template "run_wasm.js" . }}
        </script>
    </head>
    <body>
        <header>
            <h1><a href="/">{{.ApplicationName}}</a></h1>
        </header>
        <main>
            {{ template "log.html" . }}
            {{ template "tabs.html" . }}
        </main>
    </body>
</html>