<div class="lobby">
    <form method="post" action="/ping" onsubmit="user.request(event)" class="ping" hidden>
        {{ template "username.html" . }}
        <input type="submit" disabled>
    </form>
    <input type="checkbox" class="hide-next" id="has-websocket">
    <div>
        <form method="get" action="/lobby" onsubmit="lobby.connect(event)">
            <fieldset>
                <legend>Connect</legend>
                <input class="button" type="submit" disabled>
            </fieldset>
        </form>
    </div>
    <div class="connected">
        <table class="game-infos">
            <caption>Games</caption>
            <thead>
                <tr>
                    <th scope="col">Created</th>
                    <th scope="col">Players</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">State</th>
                    <th scope="col">Join</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <template class="no-game-info-row">
            <tr>
                <td colspan="3">No games exist. Create one.</td>
            </tr>
        </template>
        <template class="game-info-row">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="number" class="game-id" hidden>
                    <button class="button" onclick="game.join(event)" title="Users can jonly join games that they are a part of or are not started and are not full.">Join</button>
                </td>
            </tr>
        </template>
        <div class="actions">
            <button class="button" onclick="game.create()">Create Game</button>
            <button class="button" onclick="lobby.leave()">Leave Lobby</button>
        </div>
    </div>
</div>