<fieldset>
    <legend>User</legend>
    {{ template "username.html" . }}
    {{ template "points.html" . }}
</fieldset>
<form onsubmit="user.logout(event)">
    <fieldset>
        <legend>Sign Out User</legend>
        <input class="button" type="submit" disabled>
    </fieldset>
</form>
{{ if .HasUserDB }}
{{- if not .JWTUser.IsOauth2}}
<form method="post" action="/user_update_password" onsubmit="user.request(event)">
    <fieldset>
        <legend>Update User Password</legend>
        {{ template "password.html" . }}
        <fieldset>
            <legend>New Password</legend>
            {{ template "password_confirm.html" . }}
        </fieldset>
        <input class="button" type="submit" disabled>
    </fieldset>
</form>
{{- end}}
<form method="post" action="/user_delete" onsubmit="user.request(event)">
    <fieldset>
        <legend>Delete User</legend>
        {{- if .JWTUser.IsOauth2}}
        <span>(User linked to external site)</span>
        <input name="access_token" value="{{.AccessToken}}" hidden>
        {{- else }}
        {{ template "password.html" . }}
        {{- end}}
        <input class="button" type="submit" disabled>
    </fieldset>
</form>
{{ else }}
<div>[No database to save user or points]</div>
{{ end }}