<fieldset>
    <legend>User</legend>
    {{ template "username.html" . }}
    {{ template "points.html" . }}
</fieldset>
<form onsubmit="user.logout(event)">
    <fieldset>
        <legend>Sign Out User</legend>
        <input class="button" type="submit" disabled>
    </fieldset>
</form>
{{ if .HasUserDB }}
<form method="post" action="/user_update_password" onsubmit="user.request(event)">
    <fieldset>
        <legend>Update User Password</legend>
        {{ template "username.html" . }}
        {{ template "password.html" . }}
        <fieldset>
            <legend>New Password</legend>
            {{ template "password_confirm.html" . }}
        </fieldset>
        <input class="button" type="submit" disabled>
    </fieldset>
</form>
<form method="post" action="/user_delete" onsubmit="user.request(event)">
    <fieldset>
        <legend>Delete User</legend>
        {{ template "username.html" . }}
        {{ template "password.html" . }}
        <input class="button" type="submit" disabled>
    </fieldset>
</form>
{{ else }}
<div>[No database to save user or points]</div>
{{ end }}