.hide-next:checked + *,
.hide-next,
.tabs>.tab>input,
.tabs>.tab>.content,
#has-login:checked ~ .logout-required,
#has-login:not(:checked) ~ .login-required,
#has-websocket:not(:checked) ~ .connected,
#hide-game-create:not(:checked) ~ :not(.create),
.move-state {
    display: none;
}

table,
.actions .button,
label {
    display: inline-block;
    margin: .25em;
}
.actions {
    text-align: center;
}

.log>.scroll {
    height: 5em;
    overflow: auto;
}
noscript>img {
    filter: invert(1);
}
.offline,
noscript,
.log>.scroll>.error   { color: {{ .Colors.LogError }}; }
.log>.scroll>.chat    { color: {{ .Colors.LogChat }}; }
.log>.scroll>.warning { color: {{ .Colors.LogWarning }}; }

.tabs {
    display: block;
    position: relative;
    margin: 2em 0;
    clear: both;
    min-height: 200px;
    width: 600px;
}
.game form {
    width: 538px;
}
@media screen and (min-width: 1125px) {
    .canvas {
        position: absolute;
        top: 0;
        left: 550px;
        width: 550px;
        background: {{ .Colors.TabBackground }};
    }
}

.tab {
    float: left;
}
.tab>input:checked+.button {
    background: {{ .Colors.ButtonActive }};
}
.button:hover {
    background: {{ .Colors.ButtonHover }};
}
.button {
    margin: 1em .2em;
    padding: .3em;
    border: 1px inset;
    border-radius: 0  20% 20% 20%;
    background: {{ .Colors.Button }};
}
.tab>.content {
    position: absolute;
    left: 0;
    margin: 1em;
    background: {{ .Colors.TabBackground }};
}
.game form.create label,
.tab>input:checked+.button+.content {
    display: block;
}
table thead th:nth-last-of-type(even),
table tbody td:nth-last-of-type(even) {
    background: {{ .Colors.TableStripe }};
}
.tile-length-display {
    width: 3em;
}

.move-state.none:checked~canvas { cursor: default;   }
.move-state.swap:checked~canvas { cursor: progress;  }
.move-state.rect:checked~canvas { cursor: crosshair; }
.move-state.drag:checked~canvas { cursor: grabbing;  }
.move-state.grab:checked~canvas { cursor: pointer;   }
#canvas-colors>.mainColor { color: {{ .Colors.CanvasPrimary }}; }
#canvas-colors>.dragColor { color: {{ .Colors.CanvasDrag }}; }
#canvas-colors>.tileColor { color: {{ .Colors.CanvasTile }}; }
#canvas-colors>.errorColor { color: {{ .Colors.LogError }}; }
.canvas {
    border: 1px dotted;
}

ul.icons>li>svg {
    height: 1em;
    margin-right: .25em;
}