.has-log:not(:checked)+.log,
.tabs>.has-login:checked~.logout-required,
.tabs>.has-login:not(:checked)~.login-required,
.tabs>.has-game:not(:checked)+.tab,
.tabs>.tab>input,
.tabs>.tab>.content,
.tabs>.tab>.content>.lobby>.has-websocket:not(:checked)~.connected,
.tabs>.tab>.content>.lobby>.has-websocket:checked~.connect,
.tabs>.tab>.content>.game>.info #hide-info:not(:checked)+legend+div,
.tabs>.tab>.content>.game>.chat #hide-chat:not(:checked)+legend+div,
.tabs>.tab>.content>.game>.tile-length #hide-tile-length:not(:checked)+legend+div,
.tabs>.tab>.content>.game>.rules #hide-rules:not(:checked)+legend+div,
.tabs>.tab>.content>.game>.create:checked~:not(.create),
.tabs>.tab>.content>.game>.create:not(:checked)+.create,
.tabs>.tab>.content>.game>.canvas>.move-state {
    display: none;
}

table,
.actions .button,
label {
    display: inline-block;
    margin: .25em;
}
.actions {
    text-align: center;
}

.log>.scroll {
    height: 5em;
    overflow: auto;
}
noscript>img {
    filter: invert(1);
}
.offline,
noscript,
.log>.scroll>.error   { color: {{ .Colors.LogError }}; }
.log>.scroll>.chat    { color: {{ .Colors.LogChat }}; }
.log>.scroll>.warning { color: {{ .Colors.LogWarning }}; }

.tabs {
    display: block;
    position: relative;
    margin: 2em 0;
    clear: both;
    min-height: 200px;
    width: 600px;
}
.game form {
    width: 538px;
}
@media screen and (min-width: 1125px) {
    .canvas {
        position: absolute;
        top: 0;
        left: 550px;
        width: 550px;
        background: {{ .Colors.TabBackground }};
    }
}

.tab {
    float: left;
}
.tab>input:checked+.button {
    background: {{ .Colors.ButtonActive }};
}
.button:hover {
    background: {{ .Colors.ButtonHover }};
}
.button {
    margin: 1em .2em;
    padding: .3em;
    border: 1px inset;
    border-radius: 0  20% 20% 20%;
    background: {{ .Colors.Button }};
}
.tab>.content {
    position: absolute;
    left: 0;
    margin: 1em;
    background: {{ .Colors.TabBackground }};
}
.game form.create label,
.tab>input:checked+.button+.content {
    display: block;
}
table thead th:nth-last-of-type(even),
table tbody td:nth-last-of-type(even) {
    background: {{ .Colors.TableStripe }};
}
.tile-length-display {
    width: 3em;
}

.tab>.content>.game>.canvas>.move-state.none:checked~canvas { cursor: default;   }
.tab>.content>.game>.canvas>.move-state.swap:checked~canvas { cursor: progress;  }
.tab>.content>.game>.canvas>.move-state.rect:checked~canvas { cursor: crosshair; }
.tab>.content>.game>.canvas>.move-state.drag:checked~canvas { cursor: grabbing;  }
.tab>.content>.game>.canvas>.move-state.grab:checked~canvas { cursor: pointer;   }
.tab>.content>.game>.canvas>canvas>.mainColor { color: {{ .Colors.CanvasPrimary }}; }
.tab>.content>.game>.canvas>canvas>.dragColor { color: {{ .Colors.CanvasDrag }}; }
.tab>.content>.game>.canvas>canvas>.tileColor { color: {{ .Colors.CanvasTile }}; }
.tab>.content>.game>.canvas {
    border: 1px dotted;
}

.tab>.content>.about>ul.icons>li>svg {
    height: 1em;
    margin-right: .25em;
}
