.has-log:not(:checked)+.log,
.tabs>.has-login:checked~.logout-required,
.tabs>.has-login:not(:checked)~.login-required,
.tabs>.has-game:not(:checked)+.tab,
.tabs>.tab>input,
.tabs>.tab>.content,
.tabs>.tab>.content>.lobby>.has-websocket:not(:checked)~.connected,
.tabs>.tab>.content>.lobby>.has-websocket:checked~.connect,
.tabs>.tab>.content>.game>.info #hide-info:not(:checked)+legend+div,
.tabs>.tab>.content>.game>.chat #hide-chat:not(:checked)+legend+div,
.tabs>.tab>.content>.game>.tile-length #hide-tile-length:not(:checked)+legend+div,
.tabs>.tab>.content>.game>.canvas>.move-state {
    display: none;
}

table,
.actions .button,
label {
    display: inline-block;
    margin: .25em;
}
.actions {
    text-align: center;
}

.log>.scroll {
    height: 5em;
    overflow: auto;
}
.log>.scroll>.error   { color: #ff0000; }
.log>.scroll>.chat    { color: #008000; }
.log>.scroll>.warning { color: #ff8000; }

.tabs {
    display: block;
    position: relative;
    margin: 2em 0;
    clear: both;
    min-height: 200px;
}

.tab {
    float: left;
}
.tab>input:checked+.button {
    background: #cccccc;
}
.button:hover {
    background: #dddddd;
}
.button {
    margin: 1em .2em;
    padding: .3em;
    border: 1px inset #000;
    border-radius: 0  20% 20% 20%;
    background: #eeeeee;
}
.tab>.content {
    position: absolute;
    left: 0;
    background: #ffffc2;
    margin: 1em;
}
.tab>input:checked+.button+.content {
    display: block;
}
table thead th:nth-last-of-type(even),
table tbody td:nth-last-of-type(even) {
    background: #00000020;
}
.tile-length input[type="number"] {
    width: 3em;
}

.tab>.content>.game>.canvas>.move-state.none:checked~canvas { cursor: default;   }
.tab>.content>.game>.canvas>.move-state.swap:checked~canvas { cursor: progress;  }
.tab>.content>.game>.canvas>.move-state.rect:checked~canvas { cursor: crosshair; }
.tab>.content>.game>.canvas>.move-state.drag:checked~canvas { cursor: grabbing;  }
.tab>.content>.game>.canvas>.move-state.grab:checked~canvas { cursor: pointer;   }
.tab>.content>.game>.canvas {
    border: 1px dotted #000000;
}

.tab>.content>.about>ul.icons>li>svg {
    height: 1em;
    margin-right: .25em;
}