<script defer src="/js/content.js"></script>
<script defer src="/js/game.js"></script>
<script defer src="/js/user.js"></script>

<link rel="stylesheet" href="/tabs.css">
<link rel="stylesheet" href="/user_inputs.css">

<div id="error-message"></div>

<input type="checkbox" id="login" hidden>
<div class=tabs>
    <!-- TODO store label, template name, login_required::bool in array, loop over it to create tabs -->
    <div>
        <input id="tab-1" type="radio" name="tab-group" checked>
        <label for="tab-1">Sign In</label>
        <div>
            {{ template "user_login.html" . }}
        </div>
    </div>
    <div>
        <input id="tab-2" type="radio" name="tab-group">
        <label for="tab-2">Create User</label>
        <div>
            {{ template "user_create.html" . }}
        </div>
    </div>
    <div class="login-required">
        <input id="tab-3" type="radio" name="tab-group">
        <label for="tab-3">Lobby</label>
        <div>
            {{ template "lobby.html" . }}
        </div>
    </div>
    <div class="login-required">
        <input id="tab-4" type="radio" name="tab-group">
        <label for="tab-4">Game</label>
        <div>
            {{ template "game.html" . }}
        </div>
    </div>
    <div class="login-required">
        <input id="tab-5" type="radio" name="tab-group">
        <label for="tab-5">Change Password</label>
        <div>
            {{ template "user_update_password.html" . }}
        </div>
    </div>
    <div class="login-required">
        <input id="tab-6" type="radio" name="tab-group">
        <label for="tab-6">Delete User</label>
        <div>
            {{ template "user_delete.html" . }}
        </div>
    </div>
    <div class="login-required">
        <input id="tab-7" type="radio" name="tab-group">
        <label for="tab-7">Sign Out</label>
        <div>
            {{ template "user_logout.html" . }}
        </div>
    </div>
    <div>
        <input id="tab-8" type="radio" name="tab-group">
        <label for="tab-8">About</label>
        <div>
            {{ template "about.html" . }}
        </div>
    </div>
</div>