<!doctype html>
<html lang="en">

<head>
    <title>{{.ApplicationName}}</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="a tile-based word-forming game">
    <meta property="og:title" content="{{.ApplicationName}}">
    <meta property="og:description" content="a tile-based word-forming game">
    <meta property="og:image" content="/favicon.ico" />
</head>

<body>
    <header>
        <h1><a href="/">{{.ApplicationName}}</a></h1>
    </header>
    <main>
        {{ template "log.html" . }}
        {{ template "content.html" . }}
    </main>
</body>

</html>