<!doctype html>
<html lang="en">
    <head>
        <title>{{.ApplicationName}}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="{{.Description}}">
        <meta property="og:title" content="{{.ApplicationName}}">
        <meta property="og:description" content="{{.Description}}">
        <style type="text/css">
            {{template "main.css"}}
        </style>
        <script type="text/javascript">
            {{template "canvas.js"}}
            {{template "content.js"}}
            {{template "game.js"}}
            {{template "lobby.js"}}
            {{template "log.js"}}
            {{template "user.js"}}
            {{template "websocket.js"}}
            window.onload = () => {
                user.init();
                canvas.init();
            };
            {{template "main.js"}}            
        </script>
    </head>
    <body>
        <header>
            <h1><a href="/">{{.ApplicationName}}</a></h1>
        </header>
        <main>
            {{ template "log.html" . }}
            {{ template "content.html" . }}
        </main>
    </body>
</html>