.tab>input,
.tab>.content,
#has-login:checked+.tabs>div.logout-required,
#has-login:not(:checked)+.tabs>div.login-required,
#has-game-infos:not(:checked)+div,
#has-game:not(:checked)+div,
#has-websocket:not(:checked)~.lobby-connected,
#has-websocket:checked~.lobby-connect,
.has-log:not(:checked)+.log,
#game>input {
    display: none;
}

form label {
    display: inline-block;
}

.log>.scroll {
    height: 5em;
    overflow: auto;
}
.log>.scroll>.error   { color: red;    }
.log>.scroll>.chat    { color: green;  }
.log>.scroll>.warning { color: orange; }

.tabs {
    display: block;
    position: relative;
    margin: 2em 0;
    clear: both;
    min-height: 200px;
}

.tab {
    float: left;
}
.tab>input:checked+label {
    background: #bbb;
}
.tab>label:active {
    background: #ccc;
}
.tab>label:hover {
    background: #ddd;
}
.tab>label {
    margin: 1em .2em;
    padding: .3em;
    border: 1px solid black;
    background: #eee;
}
.tab>.content {
    position: absolute;
    left: 0;
    background: #fff;
    margin: 1em;
}
.tab>input:checked+label+.content {
    display: block;
}

#game>input:checked.move-state.none~canvas { cursor: default;   }
#game>input:checked.move-state.swap~canvas { cursor: progress;  }
#game>input:checked.move-state.rect~canvas { cursor: crosshair; }
#game>input:checked.move-state.drag~canvas { cursor: grabbing;  }
#game>input:checked.move-state.grab~canvas { cursor: pointer;   }

#game>canvas {
    border: 1px dotted black;
}

/* TODO tie to #tab-about */
ul.icons>li>svg {
    height: 1em;
    margin-right: .25em;
}