.has-log:not(:checked)+.log,
.tabs>.has-login:checked~.logout-required,
.tabs>.has-login:not(:checked)~.login-required,
.tabs>.has-game:not(:checked)+.content,
.tabs>.tab>input,
.tabs>.tab>.content,
.tabs>.tab>.content>.lobby>.has-websocket:not(:checked)~.connected,
.tabs>.tab>.content>.lobby>.has-websocket:checked~.connect,
.tabs>.tab>.content>.game>.move-state {
    display: none;
}

form label {
    display: inline-block;
}

.log>.scroll {
    height: 5em;
    overflow: auto;
}
.log>.scroll>.error   { color: #f00; }
.log>.scroll>.chat    { color: #080; }
.log>.scroll>.warning { color: #f90; }

.tabs {
    display: block;
    position: relative;
    margin: 2em 0;
    clear: both;
    min-height: 200px;
}

.tab {
    float: left;
}
.tab>input:checked+label {
    background: #bbb;
}
.tab>label:active {
    background: #ccc;
}
.tab>label:hover {
    background: #ddd;
}
.tab>label {
    margin: 1em .2em;
    padding: .3em;
    border: 1px solid #000;
    background: #eee;
}
.tab>.content {
    position: absolute;
    left: 0;
    background: #fff;
    margin: 1em;
}
.tab>input:checked+label+.content {
    display: block;
}

.tab>.content>.game>.move-state.none:checked~canvas { cursor: default;   }
.tab>.content>.game>.move-state.swap:checked~canvas { cursor: progress;  }
.tab>.content>.game>.move-state.rect:checked~canvas { cursor: crosshair; }
.tab>.content>.game>.move-state.drag:checked~canvas { cursor: grabbing;  }
.tab>.content>.game>.move-state.grab:checked~canvas { cursor: pointer;   }
.tab>.content>.game>canvas {
    border: 1px dotted #000;
}

.tab>.content>.about>ul.icons>li>svg {
    height: 1em;
    margin-right: .25em;
}