.tabs {
    position: relative;
    margin: 2em 0;
    clear: both;
    min-height: 200px;
}

.tabs>div {
    float: left;
}

.tabs>div>label {
    margin: 1em .2em;
    padding: .3em;
    border: 1px solid black;
    background: #eee;
}

.tabs>div>label:hover {
    background: #ddd;
}

.tabs>div>label:active {
    background: #ccc;
}

.tabs>div>input {
    display: none;
}

.tabs>div>input:checked+label {
    background: #bbb;
}

.tabs>div>div {
    position: absolute;
    display: none;
    background: #fff;
    margin: 1em;
}

.tabs>div>input:checked+label+div {
    display: block;
}