<div class=tabs>
    <input type="text" class="jwt" hidden>
    <input type="checkbox" id="has-login" hidden>
    <div class="tab logout-required">
        <input id="tab-login-user" type="radio" name="tab-group" checked>
        <label class="button" for="tab-login-user">Sign In</label>
        <div class="content">
            {{ template "user_login.html" . }}
        </div>
    </div>
    {{ if .HasUserDB }}
    <div class="tab logout-required">
        <input id="tab-create-user" type="radio" name="tab-group">
        <label class="button" for="tab-create-user">Create User</label>
        <div class="content">
            {{ template "user_create.html" . }}
        </div>
    </div>
    {{ end }}
    <div class="tab login-required">
        <input id="tab-modify-user" type="radio" name="tab-group">
        <label class="button" for="tab-modify-user">User</label>
        <div class="content">
            {{ template "user_modify.html" . }}
        </div>
    </div>
    <div class="tab login-required">
        <input id="tab-lobby" type="radio" name="tab-group">
        <label class="button" for="tab-lobby">Lobby</label>
        <div class="content">
            {{ template "lobby.html" . }}
        </div>
    </div>
    <input type="checkbox" class="hide-next" id="hide-game" checked>
    <div class="tab login-required">
        <input id="tab-game" type="radio" name="tab-group">
        <label class="button" for="tab-game">Game</label>
        <div class="content">
            {{ template "game.html" . }}
        </div>
    </div>
    <input type="checkbox" class="hide-next" id="hide-final-boards" checked>
    <div class="tab login-required">
        <input id="tab-final-boards" type="radio" name="tab-group">
        <label class="button" for="tab-final-boards">Final Boards</label>
        <div class="content">
            {{ template "final_boards.html" . }}
        </div>
    </div>
    <div class="tab">
        <input id="tab-about" type="radio" name="tab-group">
        <label class="button" for="tab-about">About</label>
        <div class="content">
            {{ template "about.html" . }}
        </div>
    </div>
</div>